body {
   background-color:#AFECE7;
   color:#706C61;
   font-family: sans-serif;
   text-align: center;
 }
figure{
  margin-left: 0;
}
ul{
  list-style: none;
  padding: 0;
  display: inline-flex;
}
ul li a{
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  background-color: gray;
  color: white;
}
ul li a:hover{
  background-color: white;
  color: gray;
}
footer{
  font-size: 10pt;
  font-style: italic;
  border-top: 2px solid gray;
  padding: 10px;
  margin:auto;
  margin-top: 10px;
  width: 70%;
}
.audio{
  border: 2px solid gray;
  padding: 10px;
  margin:10px auto;
  width:70%;
  background-color: #9CE8E1;
}
figure{
  border: 2px solid gray;
  padding: 10px;
  margin:10px auto;
  width:70%;
  background-color: #9CE8E1;
}
